<% provide(:title, @club.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="club_info">
			<h1>
				<!-- Can put image with class 'clublogo' here. CSS rules already defined. Replace 'gravatar' with 'clublogo' -->
				<%= image_tag @club.picture.url if @club.picture? %>
				<%= @club.name %>
			</h1>
			<p>
				Owner: <%= @club.owner_first_name  %> <%= @club.owner_last_name %><br>
				Email: <%= @club.email %><br>
				Address: <% if @club.address_line_2? %><%= @club.address_line_2 %>/<% end %><%= @club.address_line_1 %><br>
				<%= @club.city %><br>
				<%= @club.state %> <%= @club.postcode %><br>
				<%= @club.country %><br>
				Phone: <%= @club.phone1 %><br>
				<% if @club.phone2? %>Secondary phone: <%= @club.phone2 %><% end %>
				Alert me when a student hasn't trained in more than <%= pluralize(@club.absent_alert, 'day') %><br>
			</p>
			<p><%= link_to "Edit", edit_club_path %></p>
		</section>
	</aside>
</div>