<%= stylesheet_link_tag 'clubs', media: 'all' %>

<div class="show-container rounded"> 
	<div class="show-child-container">
  		<header class="show-header">
		    <h1 class="show-title"><%= @club.name %></h1>
		    <%= image_tag @club.picture.url if @club.picture? %>
		</header>

		<% if current_club.admin %>
			<%= render 'admin' %>
		<% else %>
			<%= render 'user' %>
		<% end %>

  	</div>
</div>

