<!-- <div class="center jumbotron">
	<h1>Attendrr</h1>
	<h2>
	  Attain students. Retain Students.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div> -->




  <section class="section-1  heading">
    <!-- <div class="container-fulid "> -->
      <div class="container vh-70 d-flex align-items-center" >
        <div class="row  mt-md-5  pt-md-5 pb-5  " >
          <div class=" col col-12 col-md-6  mt-3 mt-md-0 mb-3 mb-md-0  align-self-center banner-text">
						<div class="font-50">Don't let administration<br><span class="red-font font-50">slow you down</span></div>
            <p>Simple attendance recording so you can focus on training</p>

          </div>
          <div class=" col col-12 col-md-6 " data-aos="fade-down" data-aos-easing="linear" data-aos-duration="800">
            <!-- <img class="img-fluid  img-1" src="assets/img/attendrr-img.jpg" alt="" > -->
						<img class="img-fluid img-1" src=<%=image_url('attendrr-master.png') %>  alt="" >
          </div>
        </div>
      </div>

    <!-- </div> -->
  </section>

  <section class="section-2">
    <div class="container-fulid ">
      <div class="container vh-70 d-flex align-items-center" >
        <div class="row mt-5 pt-5 pt-md-0 ">
          <div class="col-12 col-md-6 mb-3 mb-md-0 " data-aos="fade-left" data-aos-easing="linear" data-aos-duration="800">
            <img class="img-fluid img-1" src=<%=image_url('attendrr-master.png') %>  alt="" >
          </div>
          <div class="col-12 col-md-6 mt-3 mt-md-0  align-self-center section-2-text">
						<div class="font-50">Any device<br><span class="red-font font-50">Anywhere</span></div>
            <p>Optimized for desktop and mobile, no matter what the size</p>
					</div>
        </div>
      </div>

    </div>
  </section>

  <section class="section-3">
    <div class="container-fulid ">
      <div class="container vh-70 d-flex align-items-center mt-4 mt-md-0" >
        <div class="row mt-3 mt-sm-5 pt-3 pt-sm-5 pb-2 pd-sm-5">
          <div class="col-12 col-md-6 mt-3 mt-md-0  mb-3 mb-md-0  align-self-center section-3-text">
            <div class="font-50">Watch your<br><span class="red-font font-50">club grow</span></div>
            <p>Automatic metric tracking ensures your club reaches it's full potential</p>

          </div>
          <div class="col-12 col-md-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="800">
            <img class="img-fluid img-1" src=<%=image_url('attendrr-master.png') %>  alt="" >
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-2">
    <div class="container-fulid ">
      <div class="container vh-70 d-flex align-items-center" >
        <div class="row mt-5 pt-5 pt-md-0 ">
          <div class="col-12 col-md-6 mb-3 mb-md-0 " data-aos="fade-left" data-aos-easing="linear" data-aos-duration="800">
            <img class="img-fluid img-1" src=<%=image_url('attendrr-master.png') %>  alt="" >
          </div>
          <div class="col-12 col-md-6 mt-3 mt-md-0  align-self-center section-2-text">
            <div class="font-50">Gradings made<br><span class="red-font font-50">easy</span></div>
            <p>Grade students all at once or one-by-one with a single touch</p>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="section-4">
    <div class="container-fulid ">
      <div class="container">
        <div class="row text-center d-flex justify-content-center">
          <div class="section-4-text">
            <h1 class="font-50">Try Attendrr for free today!</h1>
            <p>No credit card, no commitment needed.</p>
            <button class="clrbox">Try it now!</button>
          </div>



        </div>
      </div>

    </div>


  </section>


	<button class="animated fadeInDown " onclick="topFunction()" id="scrollTop" title="Go to top"> <i class="up"></i> </button>
