<section class="Admin">
	<% provide(:title, "Admin") %>
	<div class="container mt-5">
		<div class="row">
			<div class="col-12 d-flex justify-content-start  mt-2 mb-2">
				<h1 style="margin-bottom:0px;">Admin</h1>
			</div>
		</div>
		<%= link_to "Clubs", clubs_path %><br>
		<%= link_to "Edit subscriptions", admin_subscriptions_path %><br>
		<%= link_to "Add subscription", new_subscription_path %><br>
		<%= link_to "New blog post", new_blog_post_path %><br>
		<%= link_to "Edit blog posts", admin_blog_posts_path %><br>
		<%= link_to "Blog images", blog_images_path %>
	</div>

</section>
