<section class="studentList">
  <% provide(:title, "Absents") %>
  <div class="container mt-5">
    <div class="row">
      <div class="col-5 offset-2 d-flex justify-content-start  mt-2 mb-2">
        <h4 style="margin-bottom:0px;">
          <span class="bg-success-gradient r-50 custom-shadow"><i class="fa fa-users" title="students"></i></span>
          Absent Students
        </h4>
      </div>
    </div>
    <% i = true %>
    <div class="row d-flex justify-content-center align-content-center">
      <% @students.each do |s| %>
        <% if s.last_attendance < @absent_alert_activation_date %>
          <div class="col-md-6 col-lg-4 col-xl-3 col-12   m-3 ">
            <%= link_to student_path(s), :class=>"student_div" do %>
              <div class="student_div d-flex  flex-column justify-content-center">
                <div class="align-self-center  m-2">
                  <% if s.picture? %>
                    <img class="student_img align-self-center " <%= image_tag s.picture.url  %>
									<% else %>
										<img class="student_img align-self-center" <%= image_tag("no_picture.jpg") %>
									<% end %>
								</div>
                    <div class="text-center pl-2">
                      <span class="student_name"> <%= s.first_name + " " + s.last_name %> has not trained since <%= local_time(s.last_attendance,"%d/%m/%Y") %></span>
                    </div>
                  </div>
                <% end %>
              </div>
              <% i = false %>
            <% end %>
          <% end %>
        </div>
        <% if i %>
          <%= "None of your students have been absent in more than #{@current_club.absent_alert} days! Well done!" %>
        <% end %>
      </section>
