<section class="student-edit-page">
	<div class="container">
		<div class="row mt-5">
			<div class="col-12 d-flex justify-content-center">
				<h1>Edit student details</h1>
			</div>
		</div>
		<%= form_for(@student, html: { multipart: true }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<div class="row">
			<div class="col-12 col-sm-6">

				<%= f.label :first_name %>*
				<%= f.text_field :first_name, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :last_name %>*
				<%= f.text_field :last_name, class: 'form-control' %>
			</div>
			<div class="col-12">
				<%= f.label :dob, "Date of birth" %>*
			</div>
			<div class="col-12 d-flex ">
				<%= f.date_select :dob, {order: [:day, :month, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year, end_year: Date.today.year - 90}, class: 'form-control col-4 ml-1' %>
			</div>
			<div class="col-12 col-md-6">
				<%= f.label :email %>*
				<%= f.email_field :email, class: 'form-control' %>
			</div>
			<div class="w-100">

			</div>
			<div class="col-12 col-md-6">
				<%= f.label :address_line_1 %>* Street address, P.O. box, company name, etc.
				<%= f.text_field :address_line_1, class: 'form-control' %>
			</div>
			<div class="col-12 col-md-6">
				<%= f.label :address_line_2 %> Apartment, suite, unit, building, floor, etc.
				<%= f.text_field :address_line_2, class: 'form-control' %>
			</div>
			<div class="col-12 d-flex flex-wrap" style="padding-left:0px!important">
				<div class="col-12 col-sm-4" >
					<%= f.label :city %>*
					<%= f.text_field :city, class: 'form-control' %>
				</div>
				<div class="col-12 col-sm-4">
					<%= f.label :state %>*
					<%= f.text_field :state, class: 'form-control ' %>
				</div>
				<div class="col-12 col-sm-4">

					<%= f.label :postcode, class: '' %>*
					<%= f.number_field :postcode, class: 'form-control ' %>
				</div>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :phone1, "Primary phone" %>*
				<%= f.phone_field :phone1, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :phone2, "Secondary phone" %>
				<%= f.phone_field :phone2, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :parent1, "Parent/guardian 1" %>
				<%= f.text_field :parent1, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :parent2, "Parent/guardian 2" %>
				<%= f.text_field :parent2, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :size %>
				<%= f.text_field :size, class: 'form-control' %>
			</div>
			<div class="col-12 col-sm-6">
				<%= f.label :notes %>
				<%= f.text_field :notes, class: 'form-control' %>

			</div>
			<div class="col-12 col-sm-6 ">
				<%= f.label :payment_plan_id, "Payment plan" %>
				<%= f.collection_select(:payment_plan_id, @student.club.payment_plans.where(active: true), :id, :name,class:'custom-select') %>
			</div>
			<div class="w-100"></div>
			<div class="col-12 ">
				<!--Classic checkbox buttons-->
				Ranks:<br>
				<div class="d-flex flex-wrap" data-toggle="buttons">
					<%= hidden_field_tag "student[rank_ids][]", nil %>
					<% @activities.each do |activity| %>
					<% activity.ranks.where(active: true).each do |rank| %>
					<div class="btn btn-outline-primary btn-rounded   form-check-label m-2" style="border-radius:24px;">
						<%= activity.name  if activity.ranks.where(active: true).any? %>
						<%= check_box_tag "student[rank_ids][]", rank.id, f.object.ranks.include?(rank),class:'form-check-input chk-box' %>
						<%= rank.name %>
					</div>
					<% end %>
					<% end %>

				</div>
				<!--Classic checkbox buttons-->
			</div>
			<div class="w-100"></div>

			<div class="col-12 col-sm-6">
				<span class="picture">
					<%= f.label :picture, "Attach student picture" %>
					<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
				</span>
			</div>
<div class="w-100"></div>
			<div class="col-12 col-md-4">
				<%= f.submit "Save student details", class: "btn btn-primary" %>
				<% end %>
			</div>
			<div class="col-12 col-md-4 ">
				<%= link_to "Deactivate this student", student_path(@student, :student => { :active => false }),
				:method => :put, data: { :confirm => "Are you sure?" }, class: "btn btn-danger w-100"  %>

			</div>
		</div>

	</div>


</section>


<!-- JQuery. Ensures files size is < 5MB client-side -->
<script type="text/javascript">
	$('#student_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB. Please choose a smaller file.');
		}
	});
</script>
