<% provide(:title, @student.first_name) %>
<%= link_to "<< Back to Students", students_path %><br>
<b><%= @student.first_name %> <%= @student.last_name %></b><br>
<% if @student.active == false %>
	<u>INACTIVE</u><br>
<% end %> 
<% if @student.picture? %>
	<%= image_tag @student.picture.url %><br>
<% end %>
<%= @student.email %><br>
Address:<br>
<% if @student.address_line_2? %>
	<%= @student.address_line_2 %> /
	<% end %>
<%=@student.address_line_1 %><br>
<%= @student.city %><br>
<%= @student.state %><br>
<%= @student.postcode %><br>
Primary phone: <%= @student.phone1 %><br>
<% if @student.phone2? %>
	Secondary phone: <%= @student.phone2 %><br>
<% end %>
Date of birth: <%= @student.dob.strftime("%d/%m/%Y") %> (<%= ((Date.today - @student.dob) / 365).to_i %> years old)<br>
<% if @student.parent1? %>
	Parent/guardian 1: <%= @student.parent1 %><br>
<% end %>
<% if @student.parent2? %>
	Parent/guardian 2: <%= @student.parent2 %><br>
<% end %>
<% if @student.size? %>
	Size: <%= @student.size %><br>
<% end %>
Classes:
<% if @student.unique_activities.any? %>
	<% @student.student_ranks.where(:active => true).each do |r| %>
		<li><%= r.rank.activity.name %> (<%= r.rank.name %>)</li>
	<% end %>
<% else %>
	<li>None</li>
<% end %>
Payment plan: <%= @student.payment_plan.name %><br>
<% unless @student.payment_plan.classes_amount.blank? %>
	Classes remaining: 
	<%= @student.classes_remaining.nil? ? "0" : @student.classes_remaining %><br>
	<%= link_to "Purchase another #{@student.payment_plan.name}", buy_classes_student_path(@student), method: :patch, data: { confirm: "#{@student.first_name} currently has #{pluralize(@student.classes_remaining, 'class')} remaining. Add #{@student.payment_plan.classes_amount} more?" }, class: "btn btn-primary"  %><br>
<% end %>
<% if @student.notes? %>
	<u>Notes:</u> <br>
	<i><%= @student.notes %></i><br>
<% end %>
Student since: <%= @student.created_at.strftime("%d/%m/%Y") %> (<%= distance_of_time_in_words_to_now(@student.created_at) %>)<br>
<%= link_to "Attendance", student_attendance_students_path(student_id: params[:id]) %><br>
<% if @student.active? %>
	<%= link_to "Edit student details", edit_student_path %><br>
<% else %>
<%= link_to "Reactivate", student_path(@student, :student => { :active => true }),
									 :method => :put, data: { :confirm => "Are you sure?" }, class: "btn btn-primary"  %><br>
<%= link_to "Delete", @student, method: :delete, data: { confirm: "Please note: only delete students that were entered erroneously. This is permanent and removes all associated student data & statistics. Are you sure you want to delete this student?"}, class: "btn-danger" %><br>
<% end %>