<section class="acivities-list">
	<% provide(:title, "Blog") %>
	<div class="container">
		<div class="row mt-5">
			<div class="col-12 col-md-4">
				<h1 class="text-md-left text-center">Blog posts</h1>
			</div>
		</div>
			<% @most_recent.each do |bp| %>
				<div class="row mt-4">
					<div class="col-12 col-md-6  p-3 class-box  mt-1">
						<span><%= link_to bp.title, blog_post_path(bp),class:'class-name' %></span>
						<p><%= bp.subtitle %></p>
						<p><%= bp.created_at.to_date.to_formatted_s(:long) %></p>
						<% if bp.picture.nil? %>
							<%= image_tag("no_picture.jpg") %>
						<% else %>
							<%= image_tag bp.picture.thumbnail.to_s %>
						<% end %>
					</div>
				</div>
			<% end %>


			<%= form_for Follower.new do |f|  %>
  				<%= f.label :name, "Name" %>
    			<%= f.text_field :name %>
   				<%= f.label :name, "Email" %>
   				<%= f.text_field :email %>
    			<%= f.submit "SUBSCRIBE!" %>
			<% end %>

			<% unless @all_others.nil? %>
			<% @all_others.each do |bp| %>
				<div class="row mt-4">
					<div class="col-12 col-md-6  p-3 class-box  mt-1">
						<span><%= link_to bp.title, blog_post_path(bp),class:'class-name' %></span>
						<p><%= bp.subtitle %></p>
						<p><%= bp.created_at.to_date.to_formatted_s(:long) %></p>
						<% if bp.picture.nil? %>
							<%= image_tag("no_picture.jpg") %>
						<% else %>
							<%= image_tag bp.picture.thumbnail.to_s %>
						<% end %>
					</div>
				</div>
			<% end %>
			<% end %>
	</div>

</section>
