<% provide(:title, "Blog") %>

<!-- Image slider -->
<div id="slides" class="carousel slide border border-danger border-top-0 border-left-0 border-right-0" data-ride="carousel">	
	<div class="carousel-inner">
		<div class="carousel-item active">
			<h1 class="display-2" id="blog_header" style="font-size:7vw">MARTIAL BUSINESS BLOG</h1>
			<%= image_tag("attendrr_blog_cover.png") %> 
			<div class="carousel-caption">
				
			</div>
			<h3 id="blog_subheader" style="font-size:4vw">The #1 resource for ambitious Martial Arts business owners</h3>
		</div>
	</div>
</div>

<!-- Brought to you by -->
<div class="container-fluid" style="blog">
	<p class="lead text-center" style="font-size:2vw">Brought to you by Attendrr Club Management</p>
</div>

<!--<div class-"row" >
	<% @most_recent.each do |blog_post| %>
		<div class="col-sm-6 col-lg-4">
			<div class="card" id="blog">
			<%= image_tag blog_post.picture.thumbnail.to_s, :class => "card-img-top" %>
				<div class="card-body">
					<h3><%= blog_post.title %></h3>
					<h5><%= blog_post.subtitle %></h5>
					<p><%= blog_post.created_at.to_date.to_formatted_s(:long) %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>-->

<!-- non-card style blog posts LATEST
<div class="container-fluid padding" style="card">
	<div class="row text-centre padding">
		<% @most_recent.each do |blog_post| %>
			<div class="col-sm">
				<div class="container-fluid">
					<div class="container-fluid" id="cover_image_container">	
						<%= image_tag blog_post.picture.thumbnail.to_s, :class => "img-fluid w-100" %>		
						<div class="overlay">
							<h3 class="text-wrap" id="blog_thumbnail_text" style="font-size:2vw"><%= blog_post.title %></h3>
						</div>			
					</div>
					<%= link_to "", blog_post_path(blog_post), :class => "stretched-link" %>
					<p><%= blog_post.subtitle %></p>					
					<p><%= blog_post.created_at.to_date.to_formatted_s(:long) %></p>
				</div>
			</div>
		<% end %>
	</div>
	<hr class="my-4">
</div> -->

<!-- Cards style blog buttons -->
<div class="container-fluid">
	<div class="row">
		<% @most_recent.each do |blog_post| %>
			<div class="col-md-4 padding">
				<div class="card h-100" id="blog_card">
				<%= image_tag(blog_post.picture.to_s, :class => "card-img-top") %>
					<div class="card-body">
						<h4 class="card-title"><%= link_to "", blog_post_path(blog_post), :class => "stretched-link" %></h4>
						<h4 class="card-title"><%= blog_post.title %></h4>
						<p class="card-text"><%= blog_post.subtitle %></p>
						<p class="card-text"><%= blog_post.created_at.to_date.to_formatted_s(:long) %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>

<!-- Subscribe -->
<section id="subscribe">
	<div class="container">
		<h3 class="text-center text-white">Tools, tactics and templates of the most successful martial arts schools, direct to your inbox</h3><br>
			<%= form_for Follower.new do |f|  %>
			<div class="row">
				<div class="col-12 col-sm-6">
    				<%= f.text_field :name, placeholder: "First name" %>
    			</div>
    			<div class="col-12 col-sm-6">
   					<%= f.text_field :email, placeholder: "Email" %>
   				</div>
   				<div class="submit_button">
    			<%= f.submit "SUBSCRIBE!", class: "btn btn-danger", :id => "small_button" %>
    			</div>
    		</div>
			<% end %>
	</div>
</section>

<!-- Cards style blog buttons -->
<div class="container-fluid padding">
	<div class="row padding">
		<% @all_others.each do |blog_post| %>
			<div class="col-md-4 padding">
				<div class="card h-100" id="blog_card">
				<%= image_tag(blog_post.picture.to_s, :class => "card-img-top") %>
					<div class="card-body">
						<h4 class="card-title"><%= link_to "", blog_post_path(blog_post), :class => "stretched-link" %></h4>
						<h4 class="card-title"><%= blog_post.title %></h4>
						<p class="card-text"><%= blog_post.subtitle %></p>
						<p class="card-text"><%= blog_post.created_at.to_date.to_formatted_s(:long) %></p>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
