<br><br><br>
				<h1>Create new blog post</h1>
			
		<%= form_for(@blog_post, html: { multipart: true }) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		
				<%= f.label :title %>*
				<%= f.text_field :title, class: 'form-control' %>
			
				<%= f.label :subtitle %>
				<%= f.text_field :subtitle, class: 'form-control' %>

				<%= f.label :picture, "Attach cover image" %>
          		<%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
		
				<%= f.label :content %> (Paste images here)
				<%= f.text_area :content, id: :blog_content, class: 'form-control' %>
				<trix-editor input="blog_content"></trix-editor>
			
		
				<%= f.submit "Submit blog post", class: "btn btn-primary" %>
				<% end %>


<script type="text/javascript">
$('form').on('keypress', e => {
    if (e.keyCode == 13) {
        return false;
    }
});
</script>