
<section class="acivities-list">
	<% provide(:title, "Blog") %>
	<div class="container">
		<div class="row mt-5">
			<div class="col-12 col-md-4">
				<h1 class="text-md-left text-center"><%= @blog_post.title %></h1>
				<h3 class="text-md-left text-center"><%= @blog_post.subtitle %></h3>
			</div>
			Posted on <%= @posting_date %>
		</div>
		<%= kramdown(@content) %>

		<% if @picture.url %>
			<%= image_tag @picture.url %>
		<% else %>
			<%= image_tag("no_picture.jpg") %>
		<% end %>
	</div>
</section>

