<h1><%= current_club.name %></h1>
<%= image_tag current_club.picture.url if current_club.picture? %>
<span><%= link_to "View club details", current_club %></span>
<span>Students: <%= link_to current_club.students.count, students_path %>
<% s = Student.where(payment_plan_id: 1) %>
<%= link_to "(#{s.count}"" " "Prospects)",prospectplan_students_path %> </span>
<span><%= link_to("Add new student", new_student_path) %></span>
<span>Classes: <%= link_to current_club.activities.where(active: true).count, activities_path %></span>
<span><%= link_to("Add new class", new_activity_path) %></span>
<span>Payment plans: <%= link_to current_club.payment_plans.where(active: true).count, payment_plans_path %></span>
<span><%= link_to("Add/remove payment plan", new_payment_plan_path) %></span>
<span><%= link_to("Scheduled classes", scheduled_classes_activities_path) %></span>
