<h1><%= current_club.name %></h1>
<%= image_tag current_club.picture.url if current_club.picture? %>
<span><%= link_to "View club details", current_club %></span>

<span>Students: <%= link_to current_club.students.count, students_path %>
(<%= link_to pluralize(@total_prospects, 'prospect'),prospects_students_path %> ) </span>
<span><%= link_to("Add new student", new_student_path) %></span>

<span>Classes: <%= link_to current_club.activities.where(active: true).count, activities_path %></span>

<span>Payment plans: <%= link_to current_club.payment_plans.where(active: true).count-1, payment_plans_path %></span>
<span><%= link_to("Scheduled classes", scheduled_classes_activities_path) %></span>
