<p id="notice"><%= notice %></p>

<h1>Followers</h1>

<% @followers.each do |follower| %>
  <ul>
    <li><%= follower.name %></li>
      <ul>
        <li><%= follower.email %></li>
        <li><%= follower.active %></li>
      </ul>
    </li>
  </ul> 
<% end %>

<br>

<%= link_to 'New Follower', new_follower_path %>
