<br><br><br>
<% provide(:title, "Subscriptions") %>
<h1>Choose a subscription</h1>
<% @subscriptions.each do |s| %>
	<ul>
		<li>
			<b><%= s.name + " "%></b><%= pretty_amount(s.cost) + "/month" %><br>
			<%= s.description %><br>
			<!-- Helps prevent accidentally deleting free plan (must stay id 1) -->
			<% if s.active? %> 
				ACTIVE<br>
				<% unless s.id == 1 %>
					<%= link_to "Deactivate", subscription_path(s, :subscription => { :active => false }),
					:method => :put, data: { :confirm => "Are you sure?" } %><br>
					<%= link_to "Edit", edit_subscription_path(s), data: { :confirm => "Remeber this is only if you need to edit description because it won't change Stripe backend" } %>
				<% end %>
			<% else %> 
				DEACTIVATED<br>
				<% unless s.id == 1 %>
					<%= link_to "Reactivate this subscription", subscription_path(s, :subscription => { :active => true }),
					:method => :put, data: { :confirm => "Are you sure?" }  %>
			<% end %><br>
			
			<% end %>
		</li>
	</ul>
<% end %>

<!-- Cancel subscription -->
<% if current_club %>
	<% unless current_club.stripe_subscription_id.nil? %>
		<%= link_to "Cancel subscription", { action: :cancel, subscription: current_club.subscription.id }, data: { confirm: 'This will cancel future payments and revert you to the free plan. Note: if your student amount exceeds the free limit some functions will not be available to you.' } %>
	<% end %>
<% end %>