<%= stylesheet_link_tag 'clubs', media: 'all' %>

<div class="show-container rounded"> 
	<div class="show-child-container">
  		<header class="show-header">
		    <h1 class="show-title"><%= @plan_changing_to.name %> subscription</h1><br>
		</header>
		<p>New monthly payment: <%= pretty_amount(@plan_changing_to.cost) %></p>
		<% if @plan_changing_to.cost > @current_subscription_cost %>
			<p>Your next invoice will contain a prorated charge of <%= pretty_amount(@proration[1].amount) %> for use of the <%= @plan_changing_to.name %> subscription for the remainder of this billing period.</p>
		<% end %>

		<p>You will be charged <%= pretty_amount(@plan_changing_to.cost) %> per month from now on.</p>

		<%= link_to "Change plan", { action: :change, subscription: @plan_changing_to.id }, class: "btn btn-primary" %>

	    	
    	<%= link_to 'Back', subscriptions_path, class: "btn btn-secondary" %>
  	</div>
</div>