<%= stylesheet_link_tag 'subscriptions', media: 'all' %>

<div id="generic_price_table">   
	<section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="price-heading clearfix">
                        <h1>Choose a subscription</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

            	

            	<% @subscriptions.each do |s| %>
	                <div class="col-md-3" style="padding-bottom: 30px;">
	                    <div class="generic_content <%= 'active' if current_club && s.name == current_club.subscription.name %> clearfix" style="height: 100%;">
	                        <div class="generic_head_price clearfix">
	                            <div class="generic_head_content clearfix">
	                                <div class="head_bg"></div>
	                                <div class="head">
	                                    <span><%= s.name + " "%></span>
	                                </div>
	                            </div>

	                            <!--PRICE START-->
	                            <div class="generic_price_tag clearfix">	
	                                <span class="price">
	                                    <span class="currency"><%= pretty_amount(s.cost) %></span>
	                                    <span class="month">/MON</span>
	                                </span>
	                            </div>
	                            <!--//PRICE END-->
	                            
	                        </div>                            
	                        
	                        <!--FEATURE LIST START-->
	                        <div class="generic_feature_list" style="height: 34%;">
	                        	<ul>
	                            	<li><span><%= s.description %></span> </li>
	                            </ul>
	                        </div>
	                        <!--//FEATURE LIST END-->
	                        
	                        <!--BUTTON START-->
	                        <div class="generic_price_btn clearfix" style="display: inline-flex;">
	                        	<% if current_club %>
									<!-- if this is the club's current subscription, shows no links, just "SUBSCRIBED!" -->
									<% if s == current_club.subscription %>
										<span class="subscribed-btn">SUBSCRIBED!</span>
									<!-- Free Forever subscription -->
									<% elsif s.id == 1 %>
										<% if @students > s.student_limit %>
											<%= link_to "GO!", new_charge_path(subscription: s.id) %>
										<% else %>
											<%= link_to s.name, { action: :cancel, subscription: s.id }, data: { confirm: 'This will cancel future payments and revert you to the free plan.' } %>
										<% end %>
									<!-- Subscriptions that cost a monthly fee -->
									<% else %>
										<% if @no_stripe_subscription %>
											<!-- Link for clubs who're not current Stripe customers (creates new Stripe customer) -->
											<%= link_to "GO!", new_charge_path(subscription: s.id) %>
										<% else %>
											<!-- Link for clubs who are current Stripe customers (updates Stripe subscription) -->
											<%= link_to "GO!", confirm_plan_change_subscriptions_path(subscription: s.id) %> 
										<% end %>
									<% end %>
					    		<% else %>
					    			<!-- Link for clubs who're not Attendrr members -->
					      			<%= link_to "GO!", signup_path %>
					    		<% end %>
	                        </div>	                        
	                    </div>	                        
	                </div>
                <% end %>

                <div class="col-md-3" style="padding-bottom: 30px;">
	                    <div class="generic_content <%= 'active' if current_club && @subscription.name == current_club.subscription.name %> clearfix" style="height: 100%;">
	                        <div class="generic_head_price clearfix">
	                            <div class="generic_head_content clearfix">
	                                <div class="head_bg"></div>
	                                <div class="head">
	                                    <span><%= @subscription.name + " "%></span>
	                                </div>
	                            </div>

	                            <!--PRICE START-->
	                            <div class="generic_price_tag clearfix">	
	                                <span class="price">
	                                    <span class="currency"><%= pretty_amount(@subscription.cost) %></span>
	                                    <span class="month">/MON</span>
	                                </span>
	                            </div>
	                            <!--//PRICE END-->
	                            
	                        </div>                            
	                        
	                        <!--FEATURE LIST START-->
	                        <div class="generic_feature_list" style="height: 34%;">
	                        	<ul>
	                            	<li><span><%= @subscription.description %></span> </li>
	                            </ul>
	                        </div>
	                        <!--//FEATURE LIST END-->
	                        
	                        <!--BUTTON START-->
	                        <div class="generic_price_btn clearfix" style="display: inline-flex;">
	                        	<% if current_club %>
									<!-- if this is the club's current subscription, shows no links, just "SUBSCRIBED!" -->
									<% if @subscription == current_club.subscription %>
										<span class="subscribed-btn">SUBSCRIBED!</span>
									<!-- Free Forever subscription -->
									<% elsif @subscription.id == 1 %>
										<% if @students > @subscription.student_limit %>
											<%= link_to "GO!", new_charge_path(subscription: @subscription.id) %>
										<% else %>
											<%= link_to @subscription.name, { action: :cancel, subscription: @subscription.id }, data: { confirm: 'This will cancel future payments and revert you to the free plan.' } %>
										<% end %>
									<!-- Subscriptions that cost a monthly fee -->
									<% else %>
										<% if @no_stripe_subscription %>
											<!-- Link for clubs who're not current Stripe customers (creates new Stripe customer) -->
											<%= link_to "GO!", new_charge_path(subscription: @subscription.id) %>
										<% else %>
											<!-- Link for clubs who are current Stripe customers (updates Stripe subscription) -->
											<%= link_to "GO!", confirm_plan_change_subscriptions_path(subscription: @subscription.id) %> 
										<% end %>
									<% end %>
					    		<% else %>
					    			<!-- Link for clubs who're not Attendrr members -->
					      			<%= link_to "GO!", signup_path %>
					    		<% end %>
	                        </div>	                        
	                    </div>	                        
	                </div>
                
            </div>
            *Prices are in AUD
        </div>
    </section>
</div>


<!-- Cancel subscription -->
<% if current_club %>
	<% unless !current_club.stripe_subscription_id.nil? %>
		<div class="container text-center">
		<%= link_to "Cancel subscription", { action: :cancel, subscription: current_club.subscription.id }, data: { confirm: 'This will cancel future payments and revert you to the free plan. Note: if your student amount exceeds the free limit some functions will not be available to you.'}, class: "col-md-4 btn btn-danger w-100"  %></div>
	<% end %>
<% end %>