<section class="activity-edit-page">
	<div class="container">
		<div class="row mt-5 d-block">
			<h1><%= link_to @activity.name, @activity,class:'link-text-decoration-none' %></h1>
			<div class="form-group">	
				<% @activity.timeslots.where(active: true).each do |t| %>
					<span><%= Date::DAYNAMES[t.day] %> <%= t.time_start.strftime("%I:%M") %>-<%= t.time_end.strftime("%I:%M") %></span>
					<span><%= link_to "Delete this time slot", timeslot_path(t, timeslot: { active: false }), method: :put, data: { confirm: "Are you sure?" } %></span><br>
				<% end %>
			</div>
			<div class="form-group rounded" style="background-color: #DCDCDC;">
				<%= form_for(@activity) do |f| %>
					<div class="field d-flex editActivityResponsive m-2" style="padding-top: 26px;">
						<%= f.fields_for :timeslots, @activity.timeslots.build do |timeslots_form| %>
							<%= timeslots_form.label :time_start, "Start time" %>
							<%= timeslots_form.time_select :time_start %>

							<%= timeslots_form.label :time_end, "End time" %>
							<%= timeslots_form.time_select :time_end %>

							<%= timeslots_form.label :day %>
							<%= timeslots_form.select :day, (0..6).map {|d| [Date::DAYNAMES[d], d]} %>
							
							<div style="display: none;"><%= timeslots_form.label :year %>
							<%= timeslots_form.select :year, ((Time.zone.now.year - 30)..(Time.zone.now.year + 10)).to_a.reverse, {:selected => Time.zone.now.year},{ :class => 'form-control' } %></div>
						<% end %>
					</div>
					<div class="m-2"><%= f.submit "Add this timeslot", class: "btn btn-primary" %></div>
				<% end %>
			</div>
			
			<div class="form-group">	
				<% @active_ranks.each_with_index do |r, i| %>
					<span><% i = i + 1 %>
					<%= i %>. <%= r.name %> <%= link_to "Delete this rank", rank_path(r, rank: {active: false}), method: :put, data: { confirm: "Are you sure?" } %></span><br>
				<% end %>
			</div>

			<div class="form-group rounded" style="background-color: #DCDCDC;">
				<%= form_for(@activity) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="field m-2">
						<%= f.fields_for :ranks, @activity.ranks.build do |ranks_form| %>
							<%= ranks_form.label :name, "Rank" %>
							<%= ranks_form.text_field :name, class: "col-12 col-md-6" %>
						<% end %>
					</div>
					<div class="m-2"><%= f.submit "Add new rank", class: "btn btn-primary" %></div>
				<% end %>
			</div>
			<div class="activityActionBtn">
				<%= link_to "Deactivate this class", activity_path(@activity, :activity => { :active => false }),
												 :method => :put, data: { :confirm => "Are you sure?" }, class: "form-group btn btn-danger " %>
				<!-- DELETE CLASS
				<%= link_to "Delete this class", @activity, method: :delete, data: { confirm: "Please note: only delete classes that were entered erroneously. To remove a class that is no longer active select the 'deactivate' button. Are you sure you want to delete this class?" }, class: "form-group btn btn-danger " %>
				-->
			</div> 
		</div>
	</div>
</section>