<section class="activities-grading-page">
	<div class="conatiner">
		<div class="row mt-5">

		</div>
		<div class="row d-block">
			<% provide(:title, "Grading") %>
			<% if @students.present? %>
				<div class="grade-head">
					<h4>
						<%= @activity.name %>
						<span>Grading?</span>
					</h4>
				</div>
				<%= form_for(@activity, url: update_grading_activity_path, method: 'put') do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<div class="field">
						<%-# NAROLA - please tidy this and move it out of the view -%>
						<ul class="grade-list-bx">
							<% @students.each do |s| %>
								<% s.student_ranks.each do |sr| %>
									<% if sr.rank.activity == @activity && sr.active? %>
										<li>
											<span class="first">
												<%= link_to s.first_name + " " + s.last_name, student_path(s) %> - <%= sr.rank.name %>
											</span>
											<span class="middle">
												<%= hidden_field_tag "student_ids[]", s.id %>
												<%= select_tag "rank_positions[]", options_from_collection_for_select(@active_ranks, :position, :name, @active_ranks.maximum(:position) == sr.rank.position ? { selected: sr.rank.position } : { selected: sr.rank.position + 1 }) %>
											</span>
											<span class="chk-bx last">

											<%= check_box_tag 'grading[]', s.id, false %>
											</span>
										</li>
									<% end %>
								<% end %>
							<% end %>
						</ul>
					</div>
					<%= f.submit "Update ranks", class: "btn btn-primary" %>
				<% end %>
			<% else %>
				<h4>No students</h4>
			<% end %>
		</div>
	</div>

</section>
