<% @activities.where(active: true).each do |a| %>
		<ul>
			<li>
				<%= link_to a.name, activity_path(a) %><br>
				Students: <%= a.students.uniq.count %> (add link to <%= a.name %> students here)<br>
				<% unless a.ranks.any? %> <%= link_to "This class has no ranks! Add ranks here", edit_activity_path(a) %> <% end %>
			</li>
		</ul>
<% end %>

<span><%= link_to("Add new class", new_activity_path) %></span>