<%= form_for(@activity) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
		<%= f.label :name, "Class name" %>*
		<%= f.text_field :name, class: 'form-control' %>

			<%= f.fields_for :timeslots do |timeslots_form| %>
					<%= timeslots_form.label :time_start, "Start time" %>
					<%= timeslots_form.time_select :time_start %>

					<%= timeslots_form.label :time_end, "End time" %>
					<%= timeslots_form.time_select :time_end %>

					<%= timeslots_form.label :day %>
					<%= timeslots_form.select :day, (0..6).map {|d| [Date::DAYNAMES[d], d]} %>
			<% end %>
	</div>
	<%= f.submit "Create class", class: "btn btn-primary" %>
<% end %>