<section class="activity-edit-page">
	<div class="container">
		<div class="row mt-5 d-block">
			<h1>Create New Class</h1>
			<%=  nested_form_for(@activity) do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
					<div class="form-group rounded p-2" style="background-color: #DCDCDC;">	
						<div class="field m-2">
							<%= f.label :name, "Class name" %>
							<%= f.text_field :name %>
						</div>
					</div>

					<div class="form-group rounded p-2" style="background-color: #DCDCDC;">
						<div class="field m-2 activitiesNewSlotsPanel" style="padding-top: 15px;">
							<%= f.fields_for :timeslots do |timeslots_form| %>
								<%= timeslots_form.label :time_start, "Start time" %>
								<%= timeslots_form.time_select :time_start %>

								<%= timeslots_form.label :time_end, "End time" %>
								<%= timeslots_form.time_select :time_end %>

								<%= timeslots_form.label :day %>
								<%= timeslots_form.select :day, (0..6).map {|d| [Date::DAYNAMES[d], d]} %>

								<%= timeslots_form.link_to_remove "Remove this timeslot" , class: "btn btn-danger form-group" %>
							<% end %>
							<%= f.link_to_add "Add another timeslot", :timeslots , class: "btn btn-success form-group"  %>
						</div>
					</div>

					<div class="form-group rounded p-2" style="background-color: #DCDCDC;">
						<!-- RANKS -->
						<div class="field m-2 rankTextBoxWidth">
							<%= f.fields_for :ranks, @activity.ranks.build do |ranks_form| %>
								<%= ranks_form.label :name, "Add a rank:" %>
								<%= ranks_form.text_field :name %>

								<%= ranks_form.link_to_remove "Remove this rank" , class: "btn btn-danger form-group" %>
							<% end %>
							<%= f.link_to_add "Add another rank", :ranks , class: "btn btn-success form-group" %>
						<!-- RANKS END -->
						</div>
					</div>
				<%= f.submit "Create class", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</section>
<script type="text/javascript">
	$(function () {
                $('.datetimepicker3').datetimepicker({
        			format: 'HH:mm'
                });
                $('.datetimepicker4').datetimepicker({
                	format: 'DD/MM/YYYY'
                });
               $("#new_activity").on("click", ".datetimepicker3", function(event){
               	$(this).datetimepicker({
        			format: 'HH:mm'
                }).datetimepicker( "show" );
				});
               $("#new_activity").on("click", ".datetimepicker4", function(event){
               	$(this).datetimepicker({
               		format: 'DD/MM/YYYY'
               	}).datetimepicker( "show" );
				});
            });
</script>
