<section class="single-activies">
	<div class="container">
		<div class="row mt-5 mb-4">
			<div class="col-12 col-md-4">
				<h4 class="text-center text-md-left"><%= @activity.name %></h4>
			</div>
			<div class="col-12 col-md-8 d-flex justify-content-md-end justify-content-start align-self-start flex-wrap">
				<div class="p-2 m-1">
					<%= link_to "Grading", grading_activity_path(@activity),class:"nav_link custom-link" %>
				</div>
				<div class="p-2 m-1">
					<%= link_to "Attendance", student_attendance_students_path(activity_id: params[:id]),class:"nav_link custom-link"  %>
				</div>
				<div class="p-2 m-1">
					<%= link_to "Edit class details", edit_activity_path(@activity),class:"nav_link custom-link"  %>
				</div>
			</div>
		</div>
		<div class="row front-dashboard">
			<div class="col-md-4 col-sm-6">
				<div class="white-box">
					<div class="row  justify-content-between">
						<div class="col-xs-3">
							<div>
								<span class="bg-success-gradient"><%= icon('fas', 'users') %></span>
							</div>
						</div>
						<div class="col-xs-9 text-right">
							<span class="widget-title"> Total Students</span><br>
							<span class="counter"><%= @active_students.count %></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="white-box">
					<div class="row justify-content-between ">
						<div class="col-xs-3">
							<div>
								<span class="bg-success-gradient"><%= icon('fas', 'users') %></span>
							</div>
						</div>
						<div class="col-xs-9 text-right">
							<span class="widget-title"> Avg.  membership</span><br>
							<span class="counter"><%= pluralize(@average_membership_length, 'day') %></span>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="white-box">
					<div class="row justify-content-between">
						<div class="col-xs-3">
							<div>
								<span class="bg-warning-gradient"><%= icon('fas', 'percentage') %></span>
							</div>
						</div>
						<div class="col-xs-9 text-right">
							<span class="widget-title"> Avg. attendance </span><br>
							<span class="counter"><%= @average_attendance %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-12 col-md-6 pl-0">
				<% unless @active_ranks.any? %>
				<div class="col-12 pl-0">
					<h5><%= link_to "All classes need at least one rank. Click here to add ranks.", edit_activity_path(@activity),class:'add-rank-link' %></h5>
				</div>
				<% end %>
				<% if @activity.timeslots.where(active: true).any? %>
				<div class="col-12 pl-0">
					<h4>Class times:</h4>
				</div>
				<div class=" col-12 ">
					<% @activity.timeslots.where(active: true).each do |t| %>
					<div class=" col-12 d-flex  "><p><%= Date::DAYNAMES[t.day] %> <%= t.time_start.strftime("%I:%M") %>-<%= t.time_end.strftime("%I:%M") %></p></div>
					<% end %>
				</div>
				<% else %>
				<%= link_to "This class has no timeslots! Click here to assign timeslots", edit_activity_path(@activity) %><br>
				<% end %>
			</div>
			<div class="col-12 col-md-6 pl-0 mt-md-0 mt-2">
				<% if @active_ranks.any? %>
				<div class="col-12 pl-0">
					<h4>Ranks:</h4>
				</div>
				<div class=" col-12 ">
					<% @active_ranks.each do |r| %>
					<div class=" col-12 d-flex  "><p><%= r.position %>. <%= r.name %></p></div>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</section>
