<h1><%= @activity.name %></h1>

<% unless @active_ranks.any? %>
	<%= link_to "All classes need at least one rank. Click here to add ranks.", edit_activity_path(@activity) %><br>
<% end %>
<% if @activity.timeslots.where(active: true).any? %>
	Class times:<br>
	<li>
	<% @activity.timeslots.where(active: true).each do |t| %>
		<ul><%= Date::DAYNAMES[t.day] %> <%= t.time_start.strftime("%I:%M") %>-<%= t.time_end.strftime("%I:%M") %></ul>
	<% end %>
	</li>
<% else %>
	<%= link_to "This class has no timeslots! Click here to assign timeslots", edit_activity_path(@activity) %><br>
<% end %>

<% if @active_ranks.any? %>
	Ranks:<br>
	<li>
	<% @active_ranks.each do |r| %>
			<ul><%= r.position %>. <%= r.name %></ul>
	<% end %>
	</li>
<% end %>

Students: <%= @active_students.count %><br>
Average length of membership: <%= pluralize(@average_membership_length, 'day') %><br>
Average attendance per session: <%= @average_attendance %> <br>

<%= link_to "Grading", grading_activity_path(@activity) %><br>

<%= link_to "Attendance", student_attendance_students_path(activity_id: params[:id]) %><br>
<%= link_to "Edit class details", edit_activity_path(@activity) %><br>
