<%= form_for(@payment_plan) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<div class="field">
	<%= f.label :name %>*
	<%= f.text_field :name, class: 'form-control' %>

	<%= f.label :price %>*
	<%= f.number_field :price, step: "0.01" %>

	<%= f.label :frequency %>*
	<%= f.select :frequency, options_for_select([['Weekly'], ['2-weekly'], ['Monthly'], ['6-monthly'], ['Yearly'], ['Per class']]), class: 'form-control' %>

	<%= f.label :classes_amount %>
	Per <%= f.number_field :classes_amount, class: 'form-control' %> classes

	</div>
	<%= f.submit "Create payment plan", class: "btn btn-primary" %>
<% end %>