<section>


  <nav class="navbar fixed-top navbar-expand-md  bottom-border">

    <%= link_to image_tag("attendrr-master.png", :alt => 'attendrr', :class => 'logo'), root_path, :class => 'navbar-brand ' %>
    <button class="navbar-toggler my-0" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>


    </button>

    <% if logged_in? %>
      <%= current_club.name %>
      <%# if current_club.picture? %>
        <%# image_tag current_club.picture.url %> 
      <%# end %>
    <% end %>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class=" navbar-white d-md-flex justify-content-md-end mt-3 mt-md-0 collapse navbar-collapse" id="navbarNavAltMarkup">

      <ul class="nav navbar-nav  navbar-right">
        <li class="nav-item active mr-2 mt-2 mb-2 mt-md-0 mb-md-0 align-self-md-center">
          <%= link_to "Home", root_path, class: "signupbox  " %>
        </li>
        <li class="nav-item  mr-2 mt-2 mb-2 mt-md-0 mb-md-0 align-self-md-center">
          <%= link_to "Help",   help_path , class: "signupbox  " %>
        </li>
        <% if logged_in? %>
        <% if current_club && current_club.admin? %>
        <li class="mr-2 mt-2 mb-2 mt-md-0 mb-md-0 align-self-md-center"><%= link_to "Clubs", clubs_path, class: "signupbox " %></li>
        <% end %>
        <div style="display:inline" class="dropdown mt-2 mb-2 mt-md-0 mb-md-0">
          <a href="#" class="dropdown-toggle accountbox " data-toggle="dropdown">
            Account
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-item"><%= link_to "Settings", edit_club_path(current_club) %></li>
            <li class="dropdown-item"><%= link_to "About",   about_path %></li>
            <li class="dropdown-item"><%= link_to "Contact", contact_path %></li>
            <li class="dropdown-item"><%= link_to "Subscription", subscriptions_path %></li>
            <li class="divider"></li>
            <li class="dropdown-item">
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>
          </ul>
        </div>
        <% else %>
        <li class="mr-2 mt-2 mb-2 mt-md-0 mb-md-0">
          <%= link_to "Pricing", subscriptions_path, class: "signupbox mr-md-2 " %>
        </li>
        <li class="mr-2 mt-2 mb-2 mt-md-0 mb-md-0">
          <%= link_to "Sign up ", signup_path, class: "signupbox mr-md-2 " %>
        </li>
        <li class="mr-2 mt-2 mb-2 mt-md-0 mb-md-0">
          <%= link_to "Login", login_path, class: 'loginbox mx-0 mx-md-2' %>
        </li>
        <% end %>

      </ul>

    </div><!-- /.navbar-collapse -->



  </nav>
</section>

<script>
  $( ".dropdown-item" ).hover(
  function() {
    var current= jQuery(this).find("a");
    $( current ).addClass( "dropdown-item_anchor" );
  }, function() {
    $( ".dropdown-item>a" ).removeClass( "dropdown-item_anchor" );
  }
);
</script>
